#main-title{
    font-family: "Climate Crisis", sans-serif;
    font-weight: 400px;
    font-size: 200px;
    font-style: normal;
    font-variation-settings: "YEAR" 1986;
    text-align: center;
    letter-spacing: 2px;
    line-height: 1;
    color: black;
}

body {
  font-family: sans-serif;
  text-align: center;
  background: white;
  margin: 0;
  padding: 40px;
}

h1 {
  font-size: 60px;
  font-weight: 900;
  margin: 10px 0;
}

p {
  color: #FF25BD;
  margin-bottom: 30px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  position: relative;
  width: 411px;
  height: 424px;
  background: lightgray;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.card span {
  position: absolute;
  font-size: 60px;
  font-weight: bold;
}

.pink   { background: #FF25BD; }
.yellow { background: #FFDD00; }
.blue   { background: #258EFF; }
.purple { background: #C925FF; }
.red    { background: #FF2525; }
.green  { background: #8EFF25; }

.card:hover span {
  position: static; 
  display: inline-block;
}