
body.rigid-page {
  font-family: "ITC Avant Garde Gothic Pro", sans-serif;
  background: #ececec;
  margin: 0 auto;
  padding: 62px 0 0 0;
  width: 1440px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 70px;
  box-sizing: border-box;
}

.rigid-word {
  font-family: "Climate Crisis";
  font-size: 210px;
  font-weight: 400;
  color: #000;
  position: relative;
  text-align: center;
  line-height: 1;
  overflow: hidden;
  cursor: pointer;
}


.rigid-word::after {
  content: "Rigid";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  color: #FF25BD;
  overflow: hidden;
  white-space: nowrap;
  transition: width 0.8s ease;
}

.rigid-word:hover::after {
  width: 100%;
}


.text-block {
  max-width: 760px;
  text-align: center;
  line-height: 180%;
  font-size: 22px;
  letter-spacing: -0.3px;
  color: #111;
}
