/* 기본 구조 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "ITC Avant Garde Gothic Pro";
  background: #fafafa;
  color: #111;
  line-height: 1.6;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* 타이틀 섹션 */
.intro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  position: relative;
  overflow: hidden;
}

h1 {
  font-family: "Climate Crisis", sans-serif;
  font-size: 200px;
  font-weight: 400;
  color: #000;
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
  line-height: 1;
}

h1::after {
  content: "Rigid";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  color: #FF25BD;
  overflow: hidden;
  white-space: nowrap;
  transition: width 0.8s ease;
}

h1:hover::after {
  width: 100%;
}

.sub {
  font-family: "ITC Avant Garde Gothic Pro", sans-serif;
  color: #f0a;
  font-size: 28px;
  font-weight: 500;
  margin-top: 20px;
  letter-spacing: -1.5px;
  transition: transform 0.6s ease;
}

.sub:hover {
  transform: translateY(-6px);
}

/* 본문 섹션  */
.textblock {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10vw;
  transition: background 1s ease;
}

.textblock p {
  max-width: 800px;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 1.8rem;
  position: relative;
  overflow: hidden;
}

/* Hover 효과 */
.textblock p::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background: #f0a;
  z-index: -1;
  transition: width 0.6s ease;
}

.textblock p:hover::before {
  width: 100%;
}

.textblock p:hover {
  color: #00b3ff;
  transition: color 0.6s ease;
}

/*  섹션 색상*/
.white {
  background: #ffffff;
  color: #000;
}

.gray {
  background: #f2f2f2;
  color: #111;
}

.black {
  background: #000;
  color: #ffffff;
}

.black p::before {
  background: #ff0;
}

/* 애니메이션  */
@keyframes rise {
  from { transform: translateY(40px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

.textblock p {
  animation: rise 1s ease forwards;
}
.textblock p:nth-child(2) {
  animation-delay: 0.3s;
}

/* 반응형 */
@media (max-width: 1024px) {
  h1 {
    font-size: 120px;
  }
  .textblock p {
    font-size: 18px;
  }
}
