
body {
  font-family: "ITC Avant Garde Gothic Pro", sans-serif;
  background: #FF0000;
  margin: 0 auto;
  padding: 62px 0 0 0;
  width: 1440px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 70px;
  box-sizing: border-box;
}

.glossy-word {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

.glossy-word span {
  font-family: "Climate Crisis";
  font-size: 210px;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  transition: transform 1.2s cubic-bezier(0.25, 1, 0.3, 1);
}

.g:hover  { transform: translateX(-300px); }
.l:hover  { transform: translateX(300px); }
.o:hover  { transform: translateX(300px); }
.s1:hover { transform: translateX(-300px); }
.s2:hover { transform: translateX(300px); }
.y:hover  { transform: translateX(-300px); }


.text-block {
  max-width: 760px;
  text-align: center;
  line-height: 180%;
  font-size: 22px;
  letter-spacing: -0.3px;
  color: #ffffff;
}
